@model IEnumerable<GymApp.CORE.Entities.Client>

<link rel="stylesheet" href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" />

<table id="list-clients" class="display nowrap" width="100%">
    <thead>
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>ICN</th>
            <th>Phone</th>
            <th>Payment status</th>
            <th></th>
        </tr>
    </thead>
</table>

<script src="~/js/ListClientsEvents.js"></script>



